# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.mypy_cache/

# Environments
.env
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Dataset files — keep only dataset.zip and cwe_labels.csv
dataset/*
!dataset/dataset.zip
!dataset/cwe_labels.csv

# tree-sitter grammar
languages/tree-sitter-c/src/grammar.json
languages/tree-sitter-c/src/node-types.json
languages/tree-sitter-c/src/parser.c
languages/tree-sitter-cpp/src/grammar.json
languages/tree-sitter-cpp/src/node-types.json
languages/tree-sitter-cpp/src/parser.c

# OS files
.DS_Store
Thumbs.db

.env.local